.profile__edit-button {
  border: 1px solid #FFF;
  background-image: url(../images/edit-button.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-position: center;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .profile__edit-button {
    background-image: url(../images/edit-button-mobile.svg);
    width: 18px;
    height: 18px;
  }
}