.popup__submit-button {
  margin: 48px 36px 37px 36px;
  border-radius: 2px;
  background-color: #000;
  color: #FFF;
  height: 50px;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.popup__submit-button:hover {
  opacity: .8;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .popup__submit-button {
    margin-top: 45px 22px 25px 22px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}