.popup__submit-button {
  margin-top: 48px;
  margin-left: 36px;
  margin-right: 36px;
  border-radius: 2px;
  background-color: #000;
  color: #FFF;
  height: 50px;
  border: 0;
  cursor: pointer;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .popup__submit-button {
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 45px;
    height: 46px;
  }
}